# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/NetBeansProjects/OlaMundoSwing/nbproject/private/
/NetBeansProjects/OlaMundoSwing/build/
/NetBeansProjects/aula02/nbproject/private/
/NetBeansProjects/aula02/build/
/NetBeansProjects/Caneta/nbproject/private/
/NetBeansProjects/CanetaTeste/nbproject/private/
/NetBeansProjects/CanetaTeste/build/
/NetBeansProjects/TesteProfessor/nbproject/private/
/NetBeansProjects/TesteProfessor/build/
/NetBeansProjects/AulaList/nbproject/private/
/NetBeansProjects/AulaList/build/
/NetBeansProjects/gerenciador-de-cursos/nbproject/private/
/NetBeansProjects/gerenciador-de-cursos/build/
/NetBeansProjects/ExemplointerfacePrincipal/nbproject/private/
/NetBeansProjects/ExemplointerfacePrincipal/build/
/NetBeansProjects/ExemploGenericos/nbproject/private/
/NetBeansProjects/ExemploGenericos/build/
/NetBeansProjects/ExemploExcept1/build/
/NetBeansProjects/ExemploExcept1/nbproject/private/
/NetBeansProjects/ExemploExcept2/build/
/NetBeansProjects/ExemploExcept2/nbproject/private/
/NetBeansProjects/ExemploExcept3/build/
/NetBeansProjects/ExemploExcept3/nbproject/private/
/NetBeansProjects/ExemploExcept4/build/
/NetBeansProjects/ExemploExcept4/nbproject/private/
/NetBeansProjects/ExemploExcept5/build/
/NetBeansProjects/ExemploExcept5/nbproject/private/
/NetBeansProjects/ExemploThrow/build/
/NetBeansProjects/ExemploThrow/nbproject/private/
/NetBeansProjects/TestMyException/build/
/NetBeansProjects/TestMyException/nbproject/private/
/NetBeansProjects/ExException1/nbproject/private/
/NetBeansProjects/ExException1/build/
/NetBeansProjects/JavaApplication12/nbproject/private/
/NetBeansProjects/JavaApplication12/build/
